﻿@model FastFood.Models.CafeDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cafe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cafe.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cafe.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Description)
        </dd>
        <dt>
            Изображения
        </dt>
        @foreach (var i in Model.Cafe.Photos)
        {
            <dd>
                @{
                    var path = "/images/" + i.Name;
                }
                <img width="200" height="200" src="@path"/>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Cafe.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Rating)
        </dd>
    </dl>
</div>

<div id="reviews-@Model.Cafe.Id">
    <b>Reviews (@Model.Cafe.Review)</b>
    @foreach (var r in Model.Cafe.Reviews)
    {
        <div>@r.ReviewText<br /></div>
    }
    <a onclick="openRepliesForm(@Model.Cafe.Id)" style="cursor: pointer">Send Review</a>
</div>
<div id="themediv-@Model.Cafe.Id" style="display: none">
    <textarea id="themetext-@Model.Cafe.Id"></textarea>
    <input type="button" id="themeReply"
           onclick="sendReply('@Model.Cafe.Id')" value="Send" />
</div>

@*<div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
@section Scripts
    {
    <script>
        function openRepliesForm(cafeId) {
            $('#themediv-' + cafeId).show();
        }

        function sendReply(cafeId) {
            $.ajax(
                {
                    url: '@Url.Action("Review", "Cafe")',
                    type: 'POST',
                    data: { 'cafeId': cafeId, 'reviewText': $('#themetext-' + cafeId).val() },
                    success: function (data) { addReply(data, cafeId) },
                    error: function (data) { alert(data) }
                });
        }

        function addReply(data, cafeId) {
            $('#reviews-' + cafeId).append('<div' + data + '</br></div>');
        }

        $(document).on('click', '#sendRely', function () {
            $(this).hide();
        });
    </script>
}