﻿@model IEnumerable<FastFood.Models.Cafe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Добавить Заведение</a>
    }
    
</p>
<table class="table" id="myTable" data-page-length='20'>
    <thead>
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Рейтинг
        </th>
        <th>
            Отзывы
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
}
